<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="my_robot">
<xacro:macro name="robot" params="">
  <!-- include the chassis -->
  <xacro:include filename="chassis.urdf.xacro"/>
  <xacro:include filename="drive_wheel.urdf.xacro"/>
  <xacro:include filename="castor_wheel.urdf.xacro"/>
  <xacro:include filename="robot_cover.urdf.xacro"/>

  <xacro:chassis/>

  <!-- <xacro:drive_wheel/> -->


  <xacro:drive_wheel
  wheel_name="left_wheel_link"
  joint_name="left_wheel_joint"
  parent_link="base_link"
  xyz_pos="-0.076 0.22 -0.2"
  wheel_flipping="0"/>

  <!-- <xacro:drive_wheel -->



  <xacro:drive_wheel
  wheel_name="right_wheel_link"
  joint_name="right_wheel_joint"
  parent_link="base_link"
  xyz_pos="-0.076 -0.22 -0.2"
  wheel_flipping="3.1415"/>

  <!-- <xacro:castor_wheel/> -->

  <xacro:castor_wheel
  xyz_pos="0.2 0 -0.228"/> 


  <!-- <xacro:robot_cover/> -->
  <xacro:robot_cover
  xyz_pos="0.06 0.0 0.05"/>



    <!-- <link name="map"/>

  <joint name="base_to_chassis" type="fixed">
    <parent link="map"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint> -->

</xacro:macro>
</robot>
